@charset "utf-8";

.aside_wrap { position: fixed; z-index: 50; top: 0; bottom: 0; width: 250px; background-color: var(--white); box-shadow: 0 0 3px var(--shadow); overflow: auto; }
.aside_wrap::-webkit-scrollbar { width: 0; height: 0; }

@media (max-width: 1536px) {
	.aside_wrap { visibility: hidden; }
}

.side_active { position: relative; }
.side_active .aside_wrap { visibility: visible; }
.side_active .bg_active { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: var(--black); opacity: .7; z-index: 30; }
.aside { display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 50px 0; height: 100%; }
.profile_wrap { display: flex; flex-direction: column; align-items: center; }
.profile_wrap .profile { position: relative; width: 150px; height: 150px; border-radius: 50%; background-color: var(--thema); overflow: hidden; cursor: pointer; }
.profile_wrap .profile:hover { animation: hueRotate 2s ease-in infinite alternate; }
.profile_wrap .profile img { width: 100%; height: 100%; border-radius: 50%; transition: transform .3s; }
.profile_wrap .profile img:hover { transform: scale(1.1); }

@media (max-width: 640px) {
	.profile_wrap .profile:hover { animation: none; }
	.profile_wrap .profile img:hover { transform: none; }
}

.another_site { display: flex; justify-content: center; align-items: center; position: relative; padding: 16px; margin: 16px 0 32px; border-radius: 50px; background-color: var(--whiteFD); border: 1px solid var(--line); }
.another_site a { display: block; margin: 0 10px; transition: transform .3s; }
.another_site a:hover { transform: scale(1.1); }

@media (max-width: 640px) {
	.another_site a:hover { transform: none; }
}

.another_site .notefolio { width: 25px; height: 25px; }
.another_site .loud { width: 25px; height: 25px; }
.another_site .tistory { width: 25px; height: 25px; }
.another_site .github { width: 25px; height: 25px; }
.nav { width: 100%; padding: 16px 0; border-top: 1px solid var(--line); }
.nav .home { display: inline-block; width: 100%; padding: 10px 36px; transition: transform .3s; background-image: linear-gradient(to right, var(--thema), var(--themaLight)); background-clip: text; -webkit-background-clip: text; color: transparent; font-weight: 700; font-size: 16px; }
.nav .home:hover { transform: scale(1.05); animation: hueRotate 2s ease-in infinite alternate; }

@media (max-width: 640px) {
	.nav .home:hover { transform: none; animation: none; }
}

.nav .nav_wrap { width: 100%; }
.nav .nav_wrap .category { padding: 20px 36px; color: var(--blacklight); font-size: 15px; }
.nav .nav_wrap .item { display: flex; align-items: center; position: relative; width: 100%; padding: 12px 36px; background-color: var(--white); color: var(--black); transition: transform .3s, color .3s, background-color .3s; overflow: hidden; }
.nav .nav_wrap .item:hover { transform: scale(1.05); color: var(--thema); background-color: var(--themaLight); z-index: 1; }
.nav .nav_wrap .item:hover svg { fill: var(--thema); }
.nav .nav_wrap .item svg { padding-right: 12px; transition: fill .3s; }

@media (max-width: 640px) {
	.nav .nav_wrap .item:hover { transform: none; color: var(--black); background-color: var(--white); }
	.nav .nav_wrap .item:hover svg { fill: var(--black); }
}

.nav .nav_wrap .item .title { font-size: 16px; }
.nav .nav_wrap .item .count { padding: 0 12px; margin-left: 8px; border: 1px var(--thema) solid; border-radius: 999px; color: var(--thema); font-size: 10px; }
