@charset "utf-8";

.blog_aide_sidebar {
	width: 64px;
	background: #1c1b2a;
	transition: all .3s ease;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.blog_aide_open .blog_aide_sidebar {
  width: 260px;
}

.blog_aide_sidebar button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

.blog_aide_toggle {
  position: absolute;
  z-index: 2;
  top: 24px;
  right: -12px;
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #3e3d54;
  color: #8f8d9b;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  transition: 0.3s;
}

@media (hover: hover) {
	.blog_aide_toggle:hover {
		color: #f9f9f9;
	}
}

.blog_aide_open .blog_aide_toggle {
  rotate: 180deg;
}

.blog_aide_search {
  position: relative;
  padding: 16px 0;
  margin: 0 10px;
  width: calc(64px - 20px);
  transition: 0.3s;
}

.blog_aide_open .blog_aide_search {
  width: calc(260px - 20px);
}

.blog_aide_search span {
  position: absolute;
  top: 26px;
  left: 12px;
  color: #68687a;
}

.blog_aide_search input {
  background: rgb(255 255 255 / 6%);
  border: 0;
  border-radius: 8px;
  width: 100%;
  height: 44px;
  font-size: 17px;
  padding-left: 30px;
  font-family: inherit;
  transition: 0.3s;
}

.blog_aide_search input::placeholder {
  color: transparent;
}

.blog_aide_open .blog_aide_search input::placeholder {
  color: #68687a;
}

.blog_aide_open .blog_aide_search input {
  padding-left: 52px;
}

.blog_aide_inner {
  position: absolute;
  inset: 0;
  width: 260px;
}

.blog_aide_header {
  display: flex;
  align-items: center;
  height: 72px;
  width: 64px;
  padding: 0 20px;
  background: rgb(0 0 0 / 15%);
  border-radius: 16px 16px 0 0;
  transition: 0.3s;
}

.blog_aide_open .blog_aide_header {
  width: 260px;
}

.blog_aide_header h1 {
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: nowrap;
  color: #f9f9f9;
  opacity: 0;
}

.blog_aide_logo {
  height: 28px;
}

.blog_aide_menu {
  position: relative;
  display: grid;
}

.blog_aide_menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 6px;
  background: #656aff;
  translate: 0 var(--top);
  transition: 0.3s;
}

.blog_aide_menu button {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 56px;
  width: 64px;
  font-size: 17px;
  padding: 0 22px;
  color: inherit;
  opacity: 0.8;
  transition: 0.3s;
}

.blog_aide_open .blog_aide_menu button {
  width: 260px;
}

@media (hover: hover) {
	.blog_aide_menu button:hover:not(.active) {
		color: rgb(255 255 255 / 90%);
		background: rgb(255 255 255 / 2%);
	}
}

.blog_aide_menu button.active {
  color: white;
  background: rgb(255 255 255 / 4%);
  opacity: 1;
  cursor: default;
}

.blog_aide_menu button p {
  opacity: 0;
}

.blog_aide_open .blog_aide_menu button p,
.blog_aide_open .blog_aide_header h1 {
  opacity: 1;
}

.blog_aide_menu button img {
  width: 24px;
  height: 24px;
}

/* 고정 사이드바 옆 컨텐츠 밀기 */
.blog_aide_sidebar + .wrap {
	margin-left: 64px;
	transition: margin-left .3s;
}

.blog_aide_open .blog_aide_sidebar + .wrap {
	margin-left: 260px;
}
