
.main_section_container {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, var(--pfBgLavender) 0%, var(--pfBgGray) 80%);
  cursor: auto;
}

.main_section_container a {
  cursor: pointer;
  pointer-events: all;
  color: var(--pfBlack);
  text-decoration: none;
}
