@charset "utf-8";

@media (width <= 900px) {
  .underlay {
    padding: 24px;
  }

  .underlay_top_row_global {
    padding: 24px;
  }

  .underlay_hero {
    margin-top: 80px;
  }

  .underlay_title_row {
    margin-bottom: 40px;
  }

  .underlay_nav {
    gap: 19px;
  }
}

@media (width <= 640px) {
  .underlay {
    padding: 16px;
  }

  .underlay_top_row_global {
    padding: 16px;
  }

  .underlay_hero {
    margin-top: 100px;
  }

  .underlay_top_row {
    flex-wrap: wrap;
    row-gap: 8px;
  }

  .underlay_logo {
    order: 1;
    flex: 1 1 auto;
  }

  .underlay_controls {
    order: 2;
    flex: 0 0 auto;
    justify-content: flex-end;
  }

  .underlay_nav {
    order: 3;
    flex: 1 1 100%;
		justify-content: flex-start;
  }

  .underlay_settings_dropdown {
    width: calc(100vw - 32px);
  }

  .underlay_intro_row {
    margin-bottom: 8px;
  }

  .underlay_title_row {
    margin-bottom: 24px;
  }

  .underlay_bottom_row {
    flex-wrap: wrap;
    row-gap: 12px;
  }

  .underlay_roles {
    flex: 1 1 45%;
  }

  .underlay_roles_right {
    flex: 1 1 45%;
  }

  .underlay_drag_hint {
    flex: 1 1 100%;
    order: 3;
  }

  .underlay_gutter {
    display: none;
  }

  .underlay_volume_slider {
    height: 44px;
  }

  .underlay_volume_slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    margin-top: -8.5px;
  }

  .underlay_volume_slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
  }
}

