@charset "utf-8";

.hashs_wrap { display: flex; align-items: center; width: 100%; padding: 32px 64px 0; }

@media (max-width: 640px) {
	.hashs_wrap { padding: 16px 8px 0; }
}

.hashs_wrap .swiper-wrapper { cursor: pointer; }
.hashs_wrap .swiper-wrapper div { padding: 4px 12px; margin: 4px; border-radius: 999px; background-color: var(--thema); color: var(--white); letter-spacing: 0; font-size: 1.6rem; transition: .3s; }
.hashs_wrap .swiper-wrapper div:hover { transform: scale(1.05); filter: brightness(.7); }

@media (max-width: 640px) {
	.hashs_wrap .swiper-wrapper div:hover { transform: none; filter: none; }
}

.hashs_wrap .swiper-wrapper div.active { background-color: var(--themaBright); }
.hashs_wrap .swiper-wrapper div.active:hover { transform: none; filter: none; }
