.card_wrap { display: flex; flex-wrap: wrap; }
.card { position: relative; width: calc(25% - 32px); margin: 16px; border-radius: 10px; cursor: pointer; box-shadow: 0 0 5px var(--whiteDDD); transition: .5s; }

@media (max-width: 1280px) {
	.card { width: calc(50% - 32px); }
}

@media (max-width: 768px) {
	.card { width: calc(100% - 32px); }
}

@media (max-width: 640px) {
	.card { width: calc(100% - 16px); margin: 8px; }
}

.card::after, .card::before { content: ''; position: absolute; z-index: 5; border: 2px solid var(--themabright); box-sizing: border-box; }
.card::after { top: 0; left: 50%; width: 0; height: 100%; transform: translateX(-50%); border-left: none; border-right: none; }
.card::before { top: 50%; width: 100%; height: 0; transform: translateY(-50%); border-top: none; border-bottom: none; }
.card:hover { transform: scale(1.02); box-shadow: 0 0 15px var(--whiteCCC); }
.card:hover .card_top { filter: brightness(.5); }
.card:hover::after { animation: expandWidth .5s forwards; }
.card:hover::before { animation: expandHeight .5s forwards; }
.card:hover .card_top .card_img { transform: scale(1.1); }

@media (max-width: 640px) {
	.card:hover { filter: none; transform: none; box-shadow: 0 0 5px var(--whiteDDD); }
	.card:hover .card_top { filter: none; }
	.card:hover::after { animation: none; }
	.card:hover::before { animation: none; }
	.card:hover .card_top .card_img { transform: none; }
}

.card .card_top { position: relative; width: 100%; height: 200px; border-bottom: 1px solid var(--whiteEEE); border-radius: 10px 10px 0 0; overflow: hidden; transition: .5s; }
.card .card_top .card_img { width: 100%; height: 100%; border-radius: 10px 10px 0 0; transition: .5s; }
.card .card_top .card_img .card_badge_wrap { display: flex; align-items: center; position: absolute; top: 20px; left: 27px; }
.card .card_top .card_img .card_badge_wrap .card_badge { padding: 2px 16px; margin-right: 8px; border-radius: 999px; background-color: var(--whiteDDD); }
.card .card_top .card_img .card_badge_wrap .card_badge div { font-size: 1.4rem; }
.card .card_bottom { width: 100%; padding: 20px 24px; }

@media (max-width: 640px) {
	.card .card_bottom { padding: 12px 16px; }
}

.card .card_bottom .card_bottom_title { padding: 0 0 8px; font-size: 1.7rem; font-weight: 700; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

@media (max-width: 640px) {
	.card .card_bottom .card_bottom_title { padding: 4px 0 4px; }
}

.card .card_bottom .card_bottom_sub_title { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size: 1.6rem; font-weight: 400; opacity: .7; }

@media (max-width: 640px) {
	.card .card_bottom .card_bottom_sub_title { margin: 0 0 4px; }
}

.card_date { color: var(--blackmute); font-size: 1.4rem; }
.card_skill_wrap { display: flex; flex-wrap: wrap; width: 100%; padding-top: 4px; }
.card_skill_wrap .card_skill { display: flex; align-items: center; justify-content: center; padding: 4px 8px; margin: 0 8px 8px 0; border-radius: 999px; }

@media (max-width: 640px) {
	.card_skill_wrap .card_skill { margin: 0 4px 4px 0; }
}

.card_skill_wrap .card_skill .skill_img { width: 13px; height: 13px; }
.card_skill_wrap .card_skill .skill_text { padding-left: 5px; color: var(--white); font-size: 1.2rem; letter-spacing: 0; }
.card_hash_wrap { display: flex; flex-wrap: wrap; width: 100%; padding-top: 4px; }
.card_hash_wrap .card_hash { display: flex; align-items: center; justify-content: center; padding: 4px 8px; margin: 0 8px 8px 0; border-radius: 999px; background-color: var(--thema); }

@media (max-width: 640px) {
	.card_hash_wrap .card_hash { margin: 0 4px 4px 0; }
}

.card_hash_wrap .card_hash .hash_text { color: var(--white); font-size: 1.2rem; letter-spacing: 0; }
