@charset "utf-8";

@media (max-width: 1280px) {
	.banner_wrap { height: 500px; }
}

@media (max-width: 1024px) {
	.banner_wrap .banner .banner_info .card_title { font-size: 3.4rem; }
	.banner_wrap .banner .banner_info .card_date { padding: 8px 0; }
	.banner_wrap .banner .banner_info .card_skill_wrap { padding: 8px 32px 8px; }
	.banner_wrap .banner .banner_info .card_hash_wrap { padding: 0 32px 0; }
}

@media (max-width: 640px) {
	.banner_wrap { height: 400px; }
	.banner_wrap .banner .banner_info .card_title { padding: 0 32px; font-size: 2.8rem; line-height: 150%; }
	.banner_wrap .banner .banner_info .card_date { padding: 4px 0; }
	.banner_wrap .banner .banner_info .card_skill_wrap { padding: 4px 16px 4px; }
	.banner_wrap .banner .banner_info .card_skill_wrap .card_skill .skill_img { width: 13px; height: 13px; }
	.banner_wrap .banner .banner_info .card_hash_wrap { padding: 0 16px 0; }
}