@charset "utf-8";

.banner_wrap { height: 600px; min-height: 400px; }

@media (max-width: 1280px) {
	.banner_wrap { height: 500px; }
}

@media (max-width: 640px) {
	.banner_wrap { height: 400px; }
}

.banner_wrap .banner { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.banner_wrap .banner .banner_image { height: 100%; border-radius: 0; filter: brightness(0.1) contrast(0.9); }
.banner_wrap .banner .banner_info { position: absolute; top: calc(50% + 30px); left: 50%; transform: translate(-50%, -50%); width: 100%; max-width: 850px; }
.banner_wrap .banner .banner_info .card_link_wrap { display: flex; justify-content: center; padding: 16px 0; }
.banner_wrap .banner .banner_info .card_link_wrap a { color: var(--white); background-color: var(--thema); padding: 4px 8px; border-radius: 4px; font-size: 1.6rem; transition: .3s; }

@media (hover: hover) {
	.banner_wrap .banner .banner_info .card_link_wrap a:hover { transform: scale(1.05); filter: brightness(0.7); }
}

@media (max-width: 640px) {
	/* 터치 환경에서는 hover 효과 없음(@media (hover: hover)로 제한) */
}

.banner_wrap .banner .banner_info .card_title { padding: 0 64px; font-size: 4.0rem; color: var(--whiteF9); text-align: center; font-weight: 700; font-family: "TTTtangsbudaejjigae", "Malgun Gothic", sans-serif; }

@media (max-width: 1024px) {
	.banner_wrap .banner .banner_info .card_title { font-size: 3.4rem; }
}

@media (max-width: 640px) {
	.banner_wrap .banner .banner_info .card_title { padding: 0 32px; font-size: 2.8rem; line-height: 150%; }
}

.banner_wrap .banner .banner_info .card_date { display: flex; justify-content: center; padding: 16px 0; font-size: 1.6rem; }

@media (max-width: 1024px) {
	.banner_wrap .banner .banner_info .card_date { padding: 8px 0; }
}

@media (max-width: 640px) {
	.banner_wrap .banner .banner_info .card_date { padding: 4px 0; }
}

.banner_wrap .banner .banner_info .card_skill_wrap { padding: 8px 64px 8px; justify-content: center; }

@media (max-width: 1024px) {
	.banner_wrap .banner .banner_info .card_skill_wrap { padding: 8px 32px 8px; }
}

@media (max-width: 640px) {
	.banner_wrap .banner .banner_info .card_skill_wrap { padding: 4px 16px 4px; }
}

.banner_wrap .banner .banner_info .card_skill_wrap .card_skill { margin: 4px; }
.banner_wrap .banner .banner_info .card_skill_wrap .card_skill .skill_img { width: 14px; height: 14px; }

@media (max-width: 640px) {
	.banner_wrap .banner .banner_info .card_skill_wrap .card_skill .skill_img { width: 13px; height: 13px; }
}

.banner_wrap .banner .banner_info .card_skill_wrap .card_skill .skill_text { font-size: 1.4rem; }
.banner_wrap .banner .banner_info .card_hash_wrap { padding: 0 64px 0; justify-content: center; }

@media (max-width: 1024px) {
	.banner_wrap .banner .banner_info .card_hash_wrap { padding: 0 32px 0; }
}

@media (max-width: 640px) {
	.banner_wrap .banner .banner_info .card_hash_wrap { padding: 0 16px 0; }
}

.banner_wrap .banner .banner_info .card_hash_wrap .card_hash { margin: 4px; }
.banner_wrap .banner .banner_info .card_hash_wrap .card_hash .hash_text { font-size: 1.4rem; }
