@charset "utf-8";

.swiper_common { width: 100%; }

.swiper_common .swiper { position: relative; width: 100%; max-width: 100%; height: 600px; min-height: 400px; overflow: hidden; }

@media (max-width: 1536px) {
	.swiper_common .swiper { width: 100%; margin-left: 0; }
}

@media (max-width: 1024px) {
	.swiper_common .swiper { height: 500px; }
}

@media (max-width: 640px) {
	.swiper_common .swiper { height: 400px; }
}

.swiper_common .swiper .swiper-slide .swiper_image_wrap { height: 100%; }
.swiper_common .swiper .swiper_image { width: 100%; height: 100%; filter: brightness(0.1) contrast(0.9); }
.swiper_common .swiper .description { display: flex; flex-direction: column; position: absolute; top: 52%; left: 50%; transform: translate(-50%, -50%); z-index: 100; width: 500px; margin-left: 0; color: var(--whiteF9); text-align: center; }

@media (max-width: 1024px) {
	.swiper_common .swiper .description { width: 400px; }
}

@media (max-width: 640px) {
	.swiper_common .swiper .description { top: 55%; width: 300px; }
}

.swiper_common .swiper .description .title { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin: 24px 12px 12px; font-family: "TTTtangsbudaejjigae", "Malgun Gothic", sans-serif; font-weight: 500; font-size: 2.6rem; text-align: center; }

@media (max-width: 1024px) {
	.swiper_common .swiper .description .title { font-size: 2.4rem; }
}

@media (max-width: 640px) {
	.swiper_common .swiper .description .title { font-size: 2.2rem; }
}

.swiper_common .swiper .description .sub_title { display: -webkit-box; margin: 0 12px 0; color: var(--blackmute); -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; font-weight: 400; font-size: 2.0rem; text-align: center; }

@media (max-width: 1024px) {
	.swiper_common .swiper .description .sub_title { font-size: 1.9rem; }
}

@media (max-width: 640px) {
	.swiper_common .swiper .description .sub_title { font-size: 1.8rem; }
}

.swiper_common .swiper .description .autoplay_progress { position: absolute; top: 0; left: 0; width: 100%; height: 5px; background-color: var(--thema); overflow: hidden; z-index: 100; }
.swiper_common .swiper .description .autoplay_progress .progress_bar { height: 100%; width: 0%; background-color: var(--themaBright); transition: width linear; }
.swiper_common .swiper .description .current_page { position: absolute; top: -40px; right: 0; }

@media (max-width: 1024px) {
	.swiper_common .swiper .description .current_page { top: -35px; }
}

@media (max-width: 640px) {
	.swiper_common .swiper .description .current_page { top: -30px; }
}

.swiper_common .swiper .description .current_page span:nth-child(1) { color: var(--themaBright); font-size: 2.6rem; font-family: "TTTtangsbudaejjigae", "Malgun Gothic", sans-serif; }

@media (max-width: 1024px) {
	.swiper_common .swiper .description .current_page span:nth-child(1) { font-size: 2.4rem; }
}

@media (max-width: 640px) {
	.swiper_common .swiper .description .current_page span:nth-child(1) { font-size: 2.2rem; }
}

.swiper_common .swiper .description .current_page span:nth-child(2) { color: var(--blackmute); font-size: 2.0rem; font-family: "TTTtangsbudaejjigae", "Malgun Gothic", sans-serif; }

@media (max-width: 1024px) {
	.swiper_common .swiper .description .current_page span:nth-child(2) { font-size: 1.9rem; }
}

@media (max-width: 640px) {
	.swiper_common .swiper .description .current_page span:nth-child(2) { font-size: 1.8rem; }
}

.swiper_common .swiper .description .current_page span:nth-child(3) { color: var(--blackmute); font-size: 2.0rem; font-family: "TTTtangsbudaejjigae", "Malgun Gothic", sans-serif; }

@media (max-width: 1024px) {
	.swiper_common .swiper .description .current_page span:nth-child(3) { font-size: 1.9rem; }
}

@media (max-width: 640px) {
	.swiper_common .swiper .description .current_page span:nth-child(3) { font-size: 1.8rem; }
}
