.blog pre > code > span,
.blog span,
.blog pre,
.blog code,
.blog li,
.blog strong,
.blog s,
.blog a,
.blog p,
.post_view pre > code > span,
.post_view span,
.post_view pre,
.post_view code,
.post_view li,
.post_view strong,
.post_view s,
.post_view a,
.post_view p {
	font-size: 1.8rem;
	line-height: 170%;
}

@media (max-width: 640px) {
	.blog pre > code > span,
	.blog span,
	.blog pre,
	.blog code,
	.blog li,
	.blog strong,
	.blog s,
	.blog a,
	.blog p,
	.post_view pre > code > span,
	.post_view span,
	.post_view pre,
	.post_view code,
	.post_view li,
	.post_view strong,
	.post_view s,
	.post_view a,
	.post_view p {
		line-height: 180%;
	}
}

.blog h1,
.post_view h1 {
	display: block;
	font-size: 4.0rem;
	margin: 2.6rem 0 1.6rem 0;
	font-weight: bold;
}

.blog h2,
.post_view h2 {
	display: block;
	font-size: 3.2rem;
	margin: 4.0rem 0 1.6rem 0;
	font-weight: bold;
}

.blog h3,
.post_view h3 {
	display: block;
	font-size: 2.4rem;
	margin: 2.4rem 0 1.6rem 0;
	font-weight: bold;
}

.blog h4,
.post_view h4 {
	display: block;
	font-size: 2.0rem;
	margin: 2.4rem 0 1.6rem 0;
	font-weight: bold;
}

.blog h5,
.post_view h5 {
	display: block;
	font-size: 0.83em;
	margin-block-start: 1.67em;
	margin-block-end: 1.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.blog h6,
.post_view h6 {
	display: block;
	font-size: 0.67em;
	margin-block-start: 2.33em;
	margin-block-end: 2.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6,
.post_view h1,
.post_view h2,
.post_view h3,
.post_view h4,
.post_view h5,
.post_view h6 {
	font-family: "Pretendard", "Malgun Gothic", sans-serif;
}

.blog p,
.post_view p {
	display: block;
	margin: 1.8rem 0;
}

.blog blockquote,
.post_view blockquote {
	display: block;
	border-left: 3px solid var(--thema);
	padding: 16px;
	margin: 16px 0;
	background-color: var(--whiteF7);
}

.blog blockquote > p,
.post_view blockquote > p {
	margin: 0;
}

.blog blockquote > ol,
.blog blockquote > ul,
.post_view blockquote > ol,
.post_view blockquote > ul {
	width: calc(100% - 24px);
	margin: 0 0 0 24px;
}

.blog ol,
.post_view ol {
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 18px;
	margin-inline-end: 0;
}

.blog ol li,
.post_view ol li {
	list-style: decimal;
}

.blog ul,
.post_view ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 18px;
	margin-inline-end: 0;
}

.blog ul li,
.post_view ul li {
	list-style: disc;
}

.blog a,
.post_view a {
	color: #3333ff;
	text-decoration: none;
}

.blog a:hover,
.post_view a:hover {
	text-decoration: underline;
}

.blog hr,
.post_view hr {
	margin: 48px 0;
	border: 1px solid #eeeeee;
}

@media (max-width: 1280px) {
	.blog hr,
	.post_view hr {
		margin: 36px 0;
	}
}

@media (max-width: 768px) {
	.blog hr,
	.post_view hr {
		margin: 24px 0;
	}
}

.blog code,
.post_view code {
	padding: 1px 6px;
	border: none;
	border-radius: 3px;
	background-color: #e3e6e9;
	font-family: "Pretendard", "Malgun Gothic", sans-serif;
	font-weight: 500;
}

.blog pre,
.post_view pre {
	margin: 1em 0;
	border-radius: 4px;
	overflow-x: auto;
	line-height: 150%;
}

.blog pre > code,
.post_view pre > code {
	border: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-wrap: normal;
	hyphens: none;
}

.blog img,
.post_view img {
	max-width: 100%;
}

.blog strong,
.post_view strong {
	font-weight: bold;
}

.blog table,
.post_view table {
	min-width: 40%;
	max-width: 100%;
	border: 1px solid var(--whiteEEE);
	border-collapse: collapse;
	font-size: 0.875rem;
}

.blog table thead tr,
.post_view table thead tr {
	background-color: var(--themaLight);
}

.blog table thead tr th,
.post_view table thead tr th {
	border-top: 1px solid var(--whiteEEE);
	border-left: 1px solid var(--whiteEEE);
	border-bottom: 2px solid var(--themaBright);
	text-align: left;
	font-weight: 700;
}

.blog table thead tr th:last-child,
.post_view table thead tr th:last-child {
	border-right: 1px solid var(--whiteEEE);
}

.blog table thead tr th,
.blog table tbody tr td,
.post_view table thead tr th,
.post_view table tbody tr td {
	padding: 1rem 2rem;
	border-top: 1px solid var(--whiteEEE);
}

@media (max-width: 640px) {
	.blog table thead tr th,
	.blog table tbody tr td,
	.post_view table thead tr th,
	.post_view table tbody tr td {
		padding: 0.5rem;
	}
}

.blog table tbody tr:first-child td,
.post_view table tbody tr:first-child td {
	border-top: none;
}

.blog table tbody tr:last-child td,
.post_view table tbody tr:last-child td {
	border-bottom: 1px solid var(--whiteEEE);
}

.blog table tbody tr td,
.post_view table tbody tr td {
	border-left: 1px solid var(--whiteEEE);
}

.blog table tbody tr td:last-child,
.post_view table tbody tr td:last-child {
	border-right: 1px solid var(--whiteEEE);
}
